keycloak:
  image:
    repository: quay.io/keycloak/keycloak
    tag: "26.4.0"
    pullPolicy: IfNotPresent

  replicas: 1

  service:
    type: ClusterIP
    httpPort: 8080

  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 500m
      memory: 512Mi

  postgresql:
    enabled: false

  extraEnv: ""  # Set in values-dev/prod

  args:
    - "start-dev"

  ingress:
    enabled: false
