# Common/Default configuration

image:
  repository: ghcr.io/systattic/traversium-file-storage-service
  tag: "1.1.0"
  pullPolicy: Always

service:
  port: 8095
  type: ClusterIP

replicaCount: 1

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 512Mi

secrets:
  imagePullSecret: ghcr-secret
  databaseSecret: neon-file-storage-db-secret
  azureStorageSecret: azure-storage-secret
  firebaseSecret: firebase-secret

kafka:
  bootstrapServers: "kafka.kafka-test.svc.cluster.local:9092"

azure:
  storage:
    accountName: "traversium"
    containerName: "media"
    endpoint: "https://traversium.blob.core.windows.net/"

probes:
  startup:
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 30
  liveness:
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3
  readiness:
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3

logging:
  level: INFO

configServer:
  enabled: false
  applicationName: FileStorageService
  failFast: false
  bus:
    enabled: true
    refreshEnabled: true

spring:
  servlet:
    multipart:
      maxFileSize: 2GB
      maxRequestSize: 2GB
