image:
  repository: ghcr.io/systattic/traversium-trip-service
  tag: "1.2.0-SNAPSHOT"
  pullPolicy: Always

service:
  port: 8093
  grpcPort: 9090
  type: ClusterIP

replicaCount: 1

secrets:
  imagePullSecret: ghcr-secret
  databaseSecret: neon-trip-db-secret
  firebaseSecret: firebase-secret

kafka:
  bootstrapServers: "kafka.kafka-test.svc.cluster.local:9092"
  auditTopic: "audit-topic"
  notificationTopic: "notification-topic"

probes:
  startup:
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 30  # 30 * 10 = 300 seconds max startup time
  liveness:
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3
  readiness:
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3
