image:
  tag: "latest"
  pullPolicy: Always

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

secrets:
  databaseSecret: neon-tenant-db-secret-dev
  firebaseSecret: firebase-secret-dev

kafka:
  bootstrapServers: "kafka.kafka-test.svc.cluster.local:9092"

logging:
  level: DEBUG

spring:
  profiles:
    active: dev
